*{
  margin : 0px;
}

body {
  font-family: system-ui,
   -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  line-height : 1.6em;
  letter-spacing: 0.03em; 
  background-color:white;
}

h1 {
  font-family: serif;
}

body>header {
  
  height : 15%;
  line-height: 2em;
  background-color: rgba(170, 250, 225, 0.987);
  position : sticky;
  top : 0px;
  display : flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  text-align: center;
}
 
main>footer {
  text-align:center;
}

article:nth-child(4) {
   display : flex;
   flex-direction: row;
   justify-content: space-between;
}

hgroup p{
  font-weight: 800px;
}

ul {
  width : 500px;
  margin : 0px auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color : #333;
}

main {
  padding : 20px 0px 0px 50px;
}
 
article {
  display : flex;
  row-gap : 25px;
  height : 100vh;
  overflow-y : scroll;
  flex-direction: column;
  justify-content: space-between;
}

h2,h3 {
  padding-bottom : 5px;
  font-weight: 600;
  font-family: serif;
}

mark {
  background-color:  rgba(36, 184, 139, 0.987);
  padding : 2px 0px;
  color : rgb(222, 251, 246);
}

figure {
  width : 500px;
  height  :320px;
  display: flex;
  margin : 10px 0px;
  flex-direction: column;
  justify-content: space-between;
  
  align-items: center;
  border : 1px solid #666;
}

figcaption {
   text-align : center;
}

img {
  width : 500px;
}

details {
  width : 250px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  margin : 5px 0px;
  /* margin-bottom : 10px; */
}

aside {
  margin-bottom : 20px;
}
summary {
  font-weight: bold;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 0.5em;
}

address h3{
  text-decoration:dashed;
}
